
.ipynb_checkpoints/abc_formelen-checkpoint.ipynb
.ipynb_checkpoints/halloween-checkpoint.ipynb
Kursfiler/.ipynb_checkpoints/02b - LØYST - Løkker_og_funksjonar-checkpoint.ipynb
Kursfiler/.ipynb_checkpoints/Løkker_og_funksjonar-checkpoint.ipynb
Kursfiler/.ipynb_checkpoints/Med løysingar - Utskrift_variablar_vilkaar-checkpoint.ipynb
Kursfiler/.ipynb_checkpoints/Utskrift_variablar_vilkaar-checkpoint.ipynb
.ipynb_checkpoints/andregradsplottar-checkpoint.ipynb
.ipynb_checkpoints/plotte_funksjonar-checkpoint.ipynb
.ipynb_checkpoints/Rasjonale_funksjonar-checkpoint.ipynb
